/* 공통 버튼 스타일 */
.custom-btn {
  width: 100%;
  padding: 18px 0;
  border-radius: 14px;
  font-size: 18px;
  font-weight: 500; 
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* 1. 파란 버튼 */
.custom-btn.blue {
  background: linear-gradient(90deg, #3698fc 0%, #3f63d2 100%);
  color: #ffffff;
  border: none;
  box-shadow: 0 8px 20px rgba(54, 97, 236, 0.18);
}

/* 2. 흰 버튼 */
.custom-btn.white {
  background-color: #ffffff;
  color: #1a1a1a; 
  border: 1px solid #e6e6e6; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

/* 3. 회색 버튼 */
.custom-btn.gray {
  background-color: #c8c8c8;
  color: #ffffff; 
  border: none;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}