.participant-card {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 18px 16px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 20px; 
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 12px;
}



.participant-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  flex-shrink: 0;
  color: #ffffff;

  box-sizing: border-box; /* 패딩이 원 크기에 영향을 주지 않도록 고정 */
  padding-bottom: 2px;   /* 글자를 위로 2px 올리기 */
  padding-right: 1px;
}


.participant-card:nth-child(1) .participant-avatar {
  background-color: #acb4fe;
}


.participant-card:nth-child(2) .participant-avatar {
  background-color: #5498ff;
}

.participant-card:nth-child(3) .participant-avatar {
  background-color: #3e5ecf;
}


.participant-card:nth-child(4) .participant-avatar {
  background-color: #3298b2;
}


.participant-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.participant-name {
  margin: 0;
  font-size: 16.5px;
  font-weight: 500;
  color: #767676;
}


.participant-station {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}