.appointment-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 18px 20px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 20px; 
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 12px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* 아이콘 들어갈 공간 */
.appointment-icon-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  background-color: #f5f5f5;
  border-radius: 6px;
}


.appointment-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.appointment-label {
  font-size: 12px;
  font-weight: 500; 
  color: #757575; 
}


.appointment-value {
  font-size: 16px;
  font-weight: 500; 
  color: #757575; 
}